<%# subject: 'Your order from The Line (No. [#ORDER NUMBER#])' %>
<%
  order_has_special_delivery = false;
  @order.line_items.each do |item|
    @cms_product=Product.where(:spree_product_id=>item.variant.product_id).first
    if (@cms_product.spree_product.shipping_category_id == 10)
      order_has_special_delivery = true
      break
    end
  end
%>


<table class="body" width="80%" align="center" style="width: 80%; margin: 0 auto;">
<tr>
<td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<%# note: we don't have a user on the order if guest checkout %>
<p>Dear <%= defined?(@order.user.firstname) ? @order.user.firstname : @order.bill_address.firstname %>,</p>

<p>Thank you for joining our search for refined, versatile, and honest goods. Please review your order below:</p>
<br><br>

<% if order_has_special_delivery %>
  <p><i><%= t('cart.order_shipping_exception') %></i></p>
<% end %>
</td>
</tr>
</table>

<table class="body" width="80%" align="center" style="width: 80%; margin: 0 auto;">
<tr>
  <th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Billing Address</th>

  <th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Shipping Address</th>

  <th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Shipments</th>

</tr>
<tr>
  <td rowspan="3" align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <%= render :partial => 'spree/shared/address', :locals => { :address => @order.bill_address } %>

  </td>
  <td rowspan="3" align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <%= render :partial => 'spree/shared/address', :locals => { :address => @order.ship_address } %>

  </td>
  <td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">

  <% @order.shipments.each do |shipment| %>
    <%= shipment.shipping_method.name %>
    <br/><br/>
  <% end %>

  </td>
</tr>
<tr>
  <th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Payment Information</th>
</tr>
<tr>
  <td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <% @order.payments.valid.each do |payment| %>
    <%= render payment%><br/>
  <% end %>
  </td>
</tr>

</table>

<br><br>

<table class="body" width="80%" align="center" style="width: 80%; margin: 0 auto;">
<tr>
<td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<h3><%= Spree.t('order_mailer.confirm_email.order_summary') %></h3>
</td>
</tr>
</table>

<table class="body" width="80%" align="center" style="width: 80%; margin: 0 auto;">
<thead>
<tr>
	<th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Product</th>
	<th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Size</th>
  <th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Qty</th>
	<th align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Price</th>
</tr>
</thead>
<tbody>

<% @order.line_items.each do |item| %>
  <% @cms_product=Product.where(:spree_product_id=>item.variant.product_id).first %>
  <tr>
    <td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
      <b><%= link_to @cms_product.brand.title, main_app.brand_url(@cms_product.brand.basename), :class=>'brand' %></b><br>
      <%= link_to item.variant.product.name, main_app.shop_product_url(@cms_product.basename) %><br>
      <i><%= item.variant.sku %></i></td>
    <td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><%= (item.variant.options_text.length > 0) ? item.variant.options_text : t('shop.size_not_applicable') %></td>
    <td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">(<%=item.quantity%>)</td>
    <td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">@ <%= item.single_money %> = <%= item.display_amount %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
<tr>
  <td colspan="3">&nbsp;</td>
  <td colspan="1" align="left" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %></td>
</tr>

<% @order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
  <tr>
    <td colspan="3">&nbsp;</td>
    <td colspan="1" align="left" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><%= label %>: <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency).to_html %></td>
  </tr>
<% end %>

<% @order.adjustments.eligible.each do |adjustment| %>
<% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
  <tr>
    <td colspan="3">&nbsp;</td>
    <td colspan="1" align="left" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><%= adjustment.label %>: <%= adjustment.display_amount.to_html %></td>
  </tr>
<% end %>

<% if @order.checkout_steps.include?("delivery") && @order.shipments.any? %>
<% @order.shipments.each do |shipment| %>
  <tr>
    <td colspan="3">&nbsp;</td>
    <td colspan="1" align="left" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><%= shipment.shipping_method.name %>: <%= Spree::Money.new(shipment.cost, currency: @order.currency).to_html %></td>
  </tr>
<% end %>
<% end %>

<tr>
  <td colspan="3">&nbsp;</td>
  <td colspan="1" align="left" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></td>
</tr>

</tfoot>
</table>

<br><br>

<table class="body" width="80%" align="center" style="width: 80%; margin: 0 auto;">
<tr>
<td align="left" valign="top" style="background: #fff; color: #404041; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<p>As soon as your order is shipped, we’ll send you an e-mail with tracking information.</p>

<p>Faithfully Yours,<br>
The Line</p>

<p>P.S. Have a question or comment? Drop us a line at <a href="mailto:<%=Settings.contact_info.service_email%>"><%=Settings.contact_info.service_email%></a></p>
</td>
</tr>
</table>
