<% conversion_pixel_array = []
  facebook_pixel = "//www.facebook.com/offsite_event.php?id=6015091908252"

  conversion_pixel_array << facebook_pixel
%>

<%= semantic_form_for [main_app,(@apartment_request ||= ApartmentRequest.new(:newsletter=>true))], :html => { :class => "json", :"data-conversion-path" => "#{main_app.apartment_requests_path}/thank_you", :"data-conversion-pixels" => conversion_pixel_array.to_json } do |f| %>
  <% if @apartment_request.errors.any? %>
    <div id="error_explanation">
      <% @apartment_request.errors.full_messages.each do |msg| %>
        <span class="error"><%= msg %></span>
      <% end %>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :first_name, :label => t('fields.first_name') %>
    <%= f.input :last_name, :label => t('fields.last_name') %>
    <%= f.input :email, :as => :email, :label => t('fields.email') %>
    <%= f.input :newsletter, :as=>:boolean, :label => t('account.newsletter_subscription_prompt') %>
    <%= f.submit :value => t('actions.join_apartment_newsletter'), :class => "btn" %>
  <% end %>
<% end %>
