<% content_for :title, t('site.nav.faq') %>

<main>
  <div class="row-fluid">
    <article class="span12 offset2">
      <h1 class="gamma"><%= t('headings.frequently_asked_questions') %></h1>

      <dl class="faq">

        <dt id="forgot-password">What if I forgot my password?</dt>
        <dd>
        <p>If you forgot your password, we will email you a temporary password via a secure, encrypted connection.</p>
        </dd>

        <dt id="change-password">How do I change my password?</dt>
        <dd>
        <p>Under your Account Settings, click Password. You will be prompted to enter a new password.</p>
        </dd>

        <dt id="payment-methods">What payment methods does The Line accept?</dt>
        <dd>
        <p>We accept Visa, MasterCard, American Express, Discover, JCB, and Diner’s Club.</p>
        </dd>

        <dt id="order-questions">What if I have a question about my order?</dt>
        <dd>
        <p>Please drop us a line at <a href="mailto:<%=Settings.contact_info.orderinq_email%>"><%=Settings.contact_info.orderinq_email%></a>. We're here to answer your questions about existing orders, shipping, and returns Monday through Friday, between 9:00 a.m. and 6:00 p.m. EST.</p>
        </dd>

        <dt id="shipping-policy">What is The Line’s shipping policy?</dt>
        <dd>
        <p>We offer free two-day shipping on most U.S. orders. Next-day shipping is available for an additional charge. Orders placed before 2 p.m. on business days begin processing on that day; orders placed after 2 p.m. begin processing on the next business day.</p>

        <h3>U.S. Ground Shipping</h3>
        <p>Some items are only available for delivery via ground shipping, which takes approximately 3–6 business days. <i>*Items will be flagged as requiring ground shipping.</i></p>

        <h3>U.S. Special Delivery</h3>
        <p>Some items are made to order, and may ship from us or directly from the manufacturer. If you place an order for one or more of these items, we will contact you via email with regard to production and/or shipping. <i>*Items will be flagged as requiring special delivery.</i></p>
        </dd>

        <dt id="overseas-shipping">Does The Line ship to countries other than the United States?</dt>
        <dd>
        <p>We ship to more than 100 countries using UPS Worldwide Expedited service, with delivery within two to five business days. International shipping rates vary by country and range from approximately $35 to $50. To see the shipping cost for your order, place items in your bag and begin the checkout process: add your billing and shipping information and continue to the next step to view your shipping cost.</p>

        <p>Some items are made to order, and may ship from us or directly from the manufacturer. If you place an order for one or more of these items, we will contact you via email with regard to production and/or shipping. <i>*Items will be flagged as requiring special delivery.</i></p>
        </dd>

        <dt id="international-orders">What about fees, taxes, and/or duties for international orders?</dt>
        <dd>
        <p>International orders are subject to duties and taxes determined by the country to which they are shipped. These fees may total as much as 30% of your order value and are the responsibility of the customer to pay upon delivery. Orders refused at the point of delivery will incur return shipping charges as well as a 30% restocking fee.</p>

        <p>We are required by law to list directly on the package the full retail value of items ordered and contained therein. We cannot mark any package as a gift to avoid customs and duties fees. On rare occasions, customs agents may delay the delivery of, open, and/or examine the contents of packages at their discretion. For more information on customs fees and procedures, please contact your local customs office.</p>
        </dd>

        <dt id="holiday-shipping">What is The Line’s holiday shipping schedule?</dt>
        <dd>
        <p>We do not ship on federally recognized U.S. holidays, including:</p>
        <ul>
          <li> Labor Day: September 7, 2015</li>
          <li> Thanksgiving: November 26, 2015</li>
          <li> Christmas: December 25, 2015</li>
          <li> New Year’s Eve: December 31, 2015</li>
          <li> New Year’s Day: January 1, 2016</li>
        </ul>
        </dd>

        <%# NOTE: see also: returns_policy.html.erb %>
        <dt id="return-policy">What is The Line’s return policy?</dt>
        <dd>
        <p>We accept returns of unused, unworn, unwashed, unaltered, and undamaged items* within 30 days of purchase. Items flagged as requiring special delivery must be returned within 14 days of purchase. All returns must include original packaging: any boxes, hangers, garment bags, and other packaging materials.</p>

        <p>For orders shipped within the United States, return shipping is free for all eligible items if returned within 14 days of purchase using the prepaid label that accompanied the original shipment.</p>

        <p>For an item to be eligible for return:</p>
        <ul>
          <li>Item must be unused, unworn, unwashed, and undamaged.</li>
          <li>Item must have all original tags attached.</li>
          <li>Beauty products are only eligible for return if they are unopened.</li>
          <li>Footwear must include the original shoe box in original condition (without postal labels). If footwear is returned in a damaged shoe box or without the original shoe box, a shoe box fee of $30 will be charged.</li>
        </ul>

        <p>*Exceptions: Undergarments, swimwear, pierced earrings, opened beauty items, and any items designated “final sale” are not eligible for return. Additionally, we cannot accept returns of monogrammed, personalized, or special-order items, or of items damaged through normal wear and tear.</p>
        </dd>

        <dt id="international-returns">What about returns for international orders?</dt>
        <dd>
        <p>The above return policy also applies to international orders; however, in the case of international orders, return shipping fees are the responsibility of the customer. We cannot refund duties and taxes paid to clear customs.</p>
        </dd>

        <dt id="large-goods-returns">Does The Line accept returns of large home goods or works of art?</dt>
        <dd>
        <p>Large home goods and works of art may be returned for a refund of the merchandise value. Items flagged as requiring special delivery must be returned within 14 days of purchase.</p>

        <p>Home goods and works of art that did not initially qualify for free shipping do not qualify for free return shipping.</p>
        </dd>

        <dt id="return-how-to">How do I return an item to The Line?</dt>
        <dd>
        <ul>
          <li>Mark the return slip with the item(s) you are returning along with the reason(s) for your return.</li>
          <li>Repackage the item(s) you would like to return along with the completed return slip.</li>
          <li>Place the prepaid UPS return label that accompanied your order on the outside of the box you’ll ship back to us.</li>
          <li>Drop off your shipment at a UPS Store (find your nearest store at www.ups.com) or at any UPS facility.</li>
          <li>As soon as we receive your return, we’ll let you know in an e-mail and make sure that your refund is processed within 5 days.</li>
        </ul>

        <p>It may take up to 14 business days from the date we process your refund for it reflect on your original form of payment.</p>

        <dt id="other-questions">What if I’ve made it to the end of this page and still have a question?</dt>
        <dd>
        <p>Please contact us at <a href="mailto:<%=Settings.contact_info.service_email%>"><%=Settings.contact_info.service_email%></a></p>
        </dd>

      </dl>
    </article>
  </div> <!-- /.row-fluid -->
</main>
