<%= semantic_form_for :user, :url => spree.user_path(:user), :method => :put, :html => { :class => 'accountManagement'}, data: {'xhr-partial-target': '.password-edit-container'} do |f| %>
  <%= render :partial => 'shared/error_messages' %>

  <dl>
    <dt><%= t('account.headings.password') %> <%= link_to t('account.headings.close'), spree.account_path, {class: 'xhr-close-partial-trigger'} unless !request.xhr? %></dt>
    <dd>
    <%= f.inputs do %>
      <%= f.input :current_password, :label => t('account.current_password_label'), :required => true, :value => nil %>
      <%= f.input :password, :label => t('account.new_password_label'), :value => nil %>
      <%= f.input :password_confirmation, :label => t('account.confirm_new_password_label'), :required => true, :value => nil %>
    <% end %>
    <%= f.actions :class => "actions compact" do %>
      <li><%= link_to t('spree.actions.cancel'), spree.account_path, :class => "btn xhr-close-partial-trigger" %></li>
      <li class="em"><%= f.submit t('actions.change_password'), :class => 'btn-em' %></li>
    <% end %>
    </dd>
  </dl>
<% end %>
