<div class="row-fluid">
  <% if order.has_step?("address") %>
  <div class="span4 offset2" data-hook="order-bill-address">
    <div class="summary_group">
      <h6><%= Spree.t(:billing_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
      <%= render :partial => 'spree/shared/address', :locals => { :address => order.bill_address } %>
    </div>

    <% if order.retail_staff_order_detail.present? %>
    <div class="summary_group">
      <div id="customerDataWrap" style="margin-bottom: 1em; background-color: rgb(255, 237, 164);">
        <h6><%= t('headings.retail_staff_order_message') %><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
        <dl>
          <dt><%= t('retail_order.customer_id') %></dt> <dd><%= order.retail_staff_order_detail.customer_id %></dd>
          <dt><%= t('retail_order.trade_discount') %></dt> <dd><%= order.retail_staff_order_detail.trade_discount %></dd>
          <dt><%= t('retail_order.shipping_method') %></dt> <dd><%= order.retail_staff_order_detail.shipping_method %></dd>
          <dt><%= t('retail_order.internal_comments') %></dt> <dd><%= order.retail_staff_order_detail.internal_comments %></dd>
        </dl>
      </div>
    </div>
    <% end %>
  </div>

    <div class="span4" data-hook="order-ship-address">
      <div class="summary_group">
        <h6><%= Spree.t(:shipping_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
        <%= render :partial => 'spree/shared/address', :locals => { :address => order.ship_address } %>
      </div>
    </div>

    <div class="span4"> <%# note, spans to outside of has_step? block %>

    <% if @order.has_step?("delivery") %>
      <div class="summary_group">
        <h6><%= Spree.t(:shipments) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless @order.completed? %></h6>
        <div class="delivery">
          <% order.shipments.each do |shipment| %>
            <%#= shipment.stock_location.name %>
            <%= shipment.shipping_method.name %>
            <br/>
          <% end %>
        </div>
        <%= render(:partial => 'spree/shared/shipment_tracking', :locals => {:order => @order}) if @order.shipped? %>
      </div>
    <% end %>
  <% else %>
    <div class="span4 offset10">
  <% end %>

    <div class="summary_group">
      <h6><%= Spree.t(:payment_information) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless @order.completed? %></h6>
      <div class="payment-info">
        <% order.payments.valid.each do |payment| %>
          <%= render payment%><br/>
        <% end %>

      </div>
    </div>

    <% if order.gift? %>
      <div class="summary_group">
        <h6><%= t('headings.gift_message') %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
        <dl>
          <dt>
          <dt><%= t('fields.gift_from') %></dt> <dd><%= order.gift_detail.from %></dd>
          <dt><%= t('fields.gift_to') %></dt> <dd><%= order.gift_detail.to %></dd>
          <dt><%= t('fields.gift_message') %></dt> <dd><%= order.gift_detail.message %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</div> <!--/.row-fluid -->

<div class="row-fluid">
  <div class="span12 offset2">
      <%# matches cart line items -- TODO: code review -- abstract this into cart items list %>
      <ul class="cartItemList">
        <% @order.line_items.each do |item| %>
          <%= render :partial => 'spree/checkout/line_item', :locals => { :item => item, :context => 'confirm' } %>
        <% end %>
      </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span4 offset10">

    <table id='line-items' class="index columns sixteen" data-hook="order_details">
      <col width="10%" valign="middle" halign="center">
      <col width="60%" valign="middle">
      <col width="5%" valign="middle" halign="center">
      <col width="5%" valign="middle" halign="center">
      <col width="20%" valign="middle" halign="center">


      <tfoot id="order-total" data-hook="order_details_total">
        <tr class="total">
          <td colspan="4"><b><%= Spree.t(:order_total) %>:</b></td>
          <td class="total"><span id="order_total"><%= @order.display_total.to_html %></span></td>
        </tr>
      </tfoot>

      <tfoot id="subtotal" data-hook="order_details_subtotal">
        <tr class="total" id="subtotal-row">
          <td colspan="4"><b><%= Spree.t(:subtotal) %>:</b></td>
          <td class="total"><span><%= @order.display_item_total.to_html %></span></td>
        </tr>
      </tfoot>

      <% if order.all_adjustments.tax.exists? %>
        <tfoot id="tax-adjustments" data-hook="order_details_tax_adjustments">
          <% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
            <tr class="total">
              <td colspan="4"><strong><%= label %>:</strong></td>
              <td class="total"><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></td>
            </tr>
          <% end %>
        </tfoot>
      <% end %>

      <tfoot id="order-charges" data-hook="order_details_adjustments">
        <% @order.adjustments.eligible.each do |adjustment| %>
        <% next if (adjustment.source_type == 'Spree::TaxRate') %>
          <tr class="total">
            <td colspan="4"><strong><%= adjustment.label %>:</strong></td>
            <td class="total"><span><%= adjustment.display_amount.to_html %></span></td>
          </tr>
        <% end %>
      </tfoot>

      <tfoot id='shipment-total'>
        <% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
          <tr class="total" data-hook='shipment-row'>
            <td colspan="4"><strong><%= name %>:</strong></td>
            <td class="total"><span><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html %></span></td>
          </tr>
        <% end %>
      </tfoot>


    </table>
  </div>
</div> <!--/.row-fluid -->





