<li id="item_<%= footnote.basename %>" class="footnote item row-fluid chronology">
  <div class="span4 offset2">
    <div class="item-content text-center">
      <div class="item-header">
        <div class="marker issue"><%= t('site.footnote_abbr') %> <%= footnote.footnote_number %></div>
        <h2 class="title"><%= link_to footnote.title, footnote_path(footnote.basename) %></h2>
        <div class="label"><%= editorial_flags(footnote) %></div>
      </div>
      <div class="item-body">
        <p class="description"><%= footnote.short_description %></p>
        <p><%= link_to footnote.title, footnote_path(footnote.basename), :class=>'icon_mobileNavRight' %></p>
      </div>
    </div> <!-- /.item-content -->
  </div>
  <div class="offset2 span8">
    <div class="item-image">
      <% if footnote.assets_for_placement(:primary).any? %>
        <%= link_to footnote_path(footnote.basename) do %>
          <%= simple_picture_tag(footnote.assets_for_placement(:primary)[0], :medium, :options => { :alt => "#{t('site.footnote_label')} #{footnote.footnote_number} — #{footnote.title}"}) %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
