<% if volume.assets_for_placement(:primary).any? %>
  <% primary_image = volume.assets_for_placement(:primary)[0] %>
  <% content_for :additional_css do %>
    #item_<%= volume.basename %> a {
      background-image: url(<%= primary_image.mounted_file.large.url %>);
    }
    @media only screen and (max-width:800px) {
      #item_<%= volume.basename %> a {
        background-image: url(<%= primary_image.mounted_file.medium.url %>);
      }
    }
    @media only screen and (min-width:801px) {
      #item_<%= volume.basename %> a {
        background-image: url(<%= primary_image.mounted_file.large.url %>);
      }
    }
    @media only screen and (min-width:1281px) {
      #item_<%= volume.basename %> a {
        background-image: url(<%= primary_image.mounted_file.full.url %>);
      }
    }
  <% end %>
<% end %>

<li id="item_<%= volume.basename %>" class="volume item index">
  <%= link_to volume_path(volume.basename) do %>
  <div class="item-content">
    <div class="item-header">
      <% if volume.chapters.published.any? %>
      <span><%= volume.first_chapter_pub_date.strftime('%B %e, %Y') %> &mdash; <%= (volume.current_volume?) ? 'Present' : volume.last_chapter_pub_date.strftime('%B %e, %Y') %></span>
      <% end %>
    </div>
    <div class="item-body">
      <span class="issue"><%= t('site.volume_abbr_mixedcase') %> <%= volume.volume_number %></span>
      <h2 class="title"><%= volume.title %></h2>
      <span class="label marker"><%= pluralize(volume.chapters.published.not.lt(end_time: Time.now).count, 'Chapter') %></span>
      <p class="description"><%= volume.short_description %></p>
    </div>
  </div> <!-- /.item-content -->
  <% end %>
</li>

