<% content_for :title, "#{@content.title}" %>
<% content_for :canonical_url, @content.friendly_path %>
<% content_for :meta_description, truncate(strip_tags(@content.content_block('raw').try(:body)), length: 200) %>

<% cache cache_buster do %>
  <%
    share_url = "#{j Settings.canonical_url_root}#{@content.friendly_path}"
    share_target = "#{@content.friendly_path}"
    share_email_subject = t('social_media.share_apartment.email_subject', :url=> share_url, :title=>@content.title)
    share_email_body = t('social_media.share_apartment.email_body', :url=> share_url, :title=>@content.title)
    share_tweet_text = t('social_media.share_apartment.tweet_text', :url=> share_url, :title=>@content.title)
  %>

<main class="bridge2">
  <div class="to-wrapper">
    <div class="apartment-show">
    <div class="row-fluid">
      <div class="span12 offset2">
        <h1 class="the-apartment-header text-center">The Apartment<span class="subhd">by The Line</span></h1>
        <div class="small-divider"></div>
        <h2 class="text-center apt-title"><%= @content.reference_city %></h2>
        <p class="text-center address">
          <a href="<%= @content.map_url %>" target="_blank"><%= @content.address.html_safe %></a><br>
          <%= @content.phone_number %>
        </p>
        <!-- <p class="text-center hours"><%# check_apartment_opening(@content) %></p> -->
        <div class="text-center bw-button"><%= render 'appointment_widget' %></div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span16 big-image">
        <% if @content.default_content_block.content_assets.any? %>
          <%= simple_picture_tag(@content.default_content_block.content_assets[0],:large, :alt=>"") %>
        <% else %>
          <%= image_tag('http://placehold.it/640x480') %>
        <% end %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span10 offset3 opening-padding">
        <%= @content.content_block('raw').try(:body) %>
      </div>
    </div>

    <hr>

    <!-- STORE INFO IN BLOCKS -->
    <div class="general-padding">
      <div class="row-fluid">
        <div class="span16">
          <div class="row-fluid">
            <div class="span4 offset1">
              <h3 class="sectionhd find-us"><%= t('apartment.heading.address') %></h3>
              <p><a href="<%= @content.map_url %>" target="_blank"><%= @content.address.html_safe %></a><br>
                <a href="<%= 'mailto:' + @content.email.html_safe  %>"><%= @content.email.html_safe %></a><br>
                <%= @content.phone_number %></p>
            </div>
            <div class="span4 offset1">
              <h3 class="sectionhd"><%= t('apartment.heading.hours') %></h3>
              <p><%= @content.hours.html_safe %><br>
              or <a href="#" data-brickwork-reveal-modal="appointment-widget-6">by appointment</a></p>
            </div>
            <div class="span4 offset1">
              <h3 class="sectionhd"><%= t('apartment.heading.news') %></h3>
              <p><%= @content.content_block("news").try(:body) %></p>
            </div>
          </div>
        </div>
      </div>


    </div>

    <hr>

    <!-- APPOINTMENT INFORMATION WITH BUTTON -->
    <div class="appointments-section general-padding">
      <div class="row-fluid">
        <div class="span7 offset1 appt-block">
          <h3 class="sectionhd appointments-svcs"><%= t('appointments.heading.appointments_and_personal_services') %></h3>
          <%= @content.content_block("details").try(:body) %>
          <%= render 'appointment_widget' %>
        </div>
        <div class="span6 offset1">
          <% if @content.default_content_block.content_assets.any? %>
            <%= simple_picture_tag(@content.default_content_block.content_assets[1],:medium, :alt=>"") %>
          <% else %>
            <%= image_tag('http://placehold.it/640x480') %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @future_events.present? || @past_events.present? %>

      <hr>

      <!-- EVENTS SECTION -->
      <div class="events-section general-padding">
        <div class="row-fluid">

          <% if @future_events.any? %>
            <div class="span14 offset1">
              <h4 class="upcase"><%= t('apartment.heading.upcoming_events') %></h4>
            </div>
            <% @future_events.each do |event| %>
              <div class="row-fluid">
                <div class="span6 offset1">
                  <p class="when"><%= event.subtitle %><br><%= @content.address.html_safe %></p>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span8 offset3 indent">
                  <h2><%= event.title %></h2>
                  <div class="time-til"><%= time_till_event(event.subtitle) %></div>
                  <% if event.default_content_block.content_assets.any? %>
                    <%= simple_picture_tag(event.default_content_block.content_assets[0],:medium, :alt=>"") %>
                  <% end %>
                  <%= event.content_block('historical_description').try(:body) %>
                  <p class="learn-more"><a href="/events/<%= event.basename %>">Learn More About This Event<br><span class="icon_rightShort"></span></a></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="span14 offset1">
              <h4 class="upcase">Past Events</h4>
            </div>
            <% @past_events.each do |event| %>
              <div class="row-fluid">
                <div class="span6 offset1">
                  <p class="when"><%= event.subtitle %><br><%= @content.address.html_safe %></p>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span8 offset2 indent">
                  <h2><%= event.title %></h2>
                  <div class="time-til"><%= time_till_event(event.subtitle) %></div>
                  <% if event.default_content_block.content_assets.any? %>
                    <%= simple_picture_tag(event.default_content_block.content_assets[0],:medium, :alt=>"") %>
                  <% end %>
                  <%= event.content_block('historical_description').try(:body) %>
                  <p class="learn-more"><a href="/events/<%= event.basename %>">Learn More About This Event<br><span class="icon_rightShort"></span></a></p>
                </div>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>

    <% end %>

    <hr>

    <!-- EMAIL SUBSCRIPTION -->
    <div class="subscribe-section general-padding">
      <div class="row-fluid">
        <div class="span12 offset2">
          <h2 class="text-center"><%= t('apartment.heading.newsletter') %></h2>
          <div class="banner banner_inline">
            <%= render :partial=>'email_subscribers/apartments_form' %>
          </div>
        </div>
      </div>
    </div>



    <!-- SOCIAL LINKS -->
      <div class="wrapper">
     <div class="nav share-item-ul">
      <ul>
        <li class="share-item">Share <i>via</i></li>
        <li class="share-item"><a class="popup_twitter social" href="https://twitter.com/share?url=<%= share_url %>&text=<%= share_tweet_text%>&via=<%= Settings.social_media.twitter_username %>&related=<%= Settings.social_media.twitter_username %>&dnt=true" rel="external" data-social-network="twitter" data-social-action="share" data-social-target="<%= share_target %>"><%= t('actions.share_via_twitter') %></a></li>
        <li class="share-item"><a class="social" href="mailto:?subject=<%= share_email_subject %>&body=<%= share_email_body %>" data-social-network="email" data-social-action="share" data-social-target="<%= share_target %>"><%= t('actions.share_via_email') %></a></li>
        <li class="share-item"><a class="popup_facebook social" href="http://www.facebook.com/sharer.php?u=<%= share_url %>" rel="external" data-social-network="facebook" data-social-action="share" data-social-target="<%= share_target %>"><%= t('actions.share_via_facebook') %></a></li>
        <li class="share-item"><a class="social" data-social-network="pinterest" data-social-action="share" data-social-target="<%= share_target %>" href="javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;//assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());"><%= t('actions.share_via_pinterest') %></a></li>
      </ul>
    </div>
     </div>

    <%# this IF statement needs to be removed once we have content for LA %>
    <% if @content.reference_city == 'New York' %>

      <hr>

      <div class="history-section general-padding">
        <div class="row-fluid">
          <div class="span14 offset1">
            <h3 class="sectionhd apartment-detail-title"><%= @content.subtitle %></h3>
            <% if @content.default_content_block.content_assets.any? %>
              <%= simple_picture_tag(@content.default_content_block.content_assets[2],:large, :alt=>"") %>

            <% end %>
          </div>
        </div>
          <div class="row-fluid">
            <div class="span8 offset4 general-padding apartment">
              <p class="opening apt-desc"><%= @content.content_block("more").try(:body) %></p>
            </div>
          </div>

          <% if @content.default_content_block.content_assets.any? %>
          <div class="row-fluid">
            <div class="span8">
             <%= simple_picture_tag(@content.default_content_block.content_assets[3],:large, :alt=>"") %>
            </div>
            <div class="span8">
              <%= simple_picture_tag(@content.default_content_block.content_assets[4],:large, :alt=>"") %>
            </div>
          </div>
          <% end %>
        <div class="row-fluid">
          <div class="span12 offset2">
            <blockquote class="feature apt-quote"> <%= @content.content_block("stories_feature").try(:body) %></blockquote>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6 offset1">
            <% if @content.default_content_block.content_assets.any? %>
              <%= simple_picture_tag(@content.default_content_block.content_assets[5],:medium, :alt=>"") %>
            <% end %>
          </div>
          <div class="span6 offset1">
             <%= @content.content_block("description").try(:body) %>
          </div>
        </div>
        <div class="row-fluid general-padding">
          <div class="span16">
            <p class="no-margin arr"> Take a closer look at <a href="/the_apartments/los_angeles">The Apartment by The Line – Los Angeles<a></p>
          </div>
        </div>
      </div>

    <% end %>

    </div>
  </div>
</main>
<% end %>
